body {
  background-color:#0b0723;
}

.voice-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}

.greeting {
  text-align: center;
  margin-top: 180px;
  color: rgb(142, 139, 161);
  font-family: 'Montserrat', sans-serif;
}

.transcript {
  text-align: center;
  margin-top: 380px;
  color: rgb(142, 139, 161);
  font-family: 'Montserrat', sans-serif;
}